/Circle.class
/EvenOrOdd.class
/Factorial.class
/MarksSheet.class
/MaxAndMin.class
/Polindrome.class
/PrimeNumberOrNot.class
/PrimeNumbersInRange.class
/Product.class
/PythagoreanTriplet.class
/Sum.class
/SumOfN.class
/Vote.class
